@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Escuela Politécnica de Ingeniería de Gijón <br />
    Universidad de Oviedo<br />
    <abbr title="Teléfono">Tel:</abbr>
    555.555.555
</address>

<address>
    <strong>Servício técnico:</strong>   <a href="mailto:incidencias@example.com">incidencias@example.com</a><br />
    <strong>Ventas:</strong> <a href="mailto:Ventas@example.com">Ventas@example.com</a>
</address>